
.editFormContainer{
    background-color: rgb(240, 237, 237);
  
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width:100%
}


  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

   .inputEdit {
    
      border: none;
      width: 54%;
      border-bottom: 1px solid #581a59;
     
      }
.Update {
  border-radius: 10px;
    background-color: white;
    color: #362443;

    font-weight: bold;
    border: solid;
    border-width:thin;
    cursor: pointer;
    width: 50%;
    height:30px;
  }

.Update:hover{
  background-color: #362443;

  color: white;
}
.closeProfile {
     border-radius: 10px;
      background-color: white;
      color: #403d41;

      font-weight: bold;
      border: solid;
      border-width:thin;
      cursor: pointer;
      width: 50%;
      height:30px;
    }
  
  .closeProfile:hover{
 
    background-color: #403d41;
    color: white;
  }
  .fileLabel {
    display: flex;
       
    color: #362443;
    font-size: 16px;
    cursor: pointer;

}



  .registerError{
    color:red
  }
.inputMessages{
    margin-right: 10px;
    
    color:#362443
}
.fileInput{
    padding-bottom: 10px;
    width:50%
}
.fileInputDiv{
    display: flex;
    width: 68%;
}
.nameInput{
    margin-left:6px;
    padding-bottom: 10px;
}