.sidebar{
    border-right: solid;
    border-width: thin;
    width:20%;
    height:43.4vmax;
    background-color:#581a59;
}
.directMessageShow{
    color: white;
   width:90%;
    padding:5px;
    
}
.directDiv{
    border-bottom: solid;
    border-width: thin;
    border-color:lightgray;

    height:40px;
}
.close{
    height: 20px;
    width:20px;
    border: solid;
    border-width: thin;
    border-color: white;
    padding: 3px;

}