.formContainer{
    background-color: #f0dbf1;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.formWrapper{
    background-color: white;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width:28%
}
.form{
    display: flex;
    flex-direction: column; 
}
.logo {
    color: #0c4fd5;
    font-weight: bold;
    font-size: 24px;

  }
  .title {
    color: #0c4fd5;
    font-size: 12px;
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

   .input {
      padding: 15px;
      border: none;
      width: 100%;
      border-bottom: 1px solid #0c4fd5;;
     
      }
      
.Signin {
  border-radius: 10px;
  background-color: #0c4fd5;
  color: white;
  padding: 10px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  }
  .Signin:hover{
    background-color: #0c214a;
  }
  .span {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #0c4fd5;
    font-size: 12px;
    cursor: pointer;

}


.Link:hover{
  color: #093ba0;
  font-weight: 500;
}

.img {
  width: 32px;
}

.p {
    color: #5d5b8d;
    font-size: 12px;
    margin-top: 10px;
  }
  .loginError{
    color:red;

    word-wrap: break-word;
  }
  .Verification{
    background-color: #f9ac08;
    color: white;
    padding: 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
  .passwordInput{
    display: flex;
   
  }
  .passwordInputLogin{
    padding: 15px;
    border: none;
    width: 100%;
    border-bottom: 1px solid #0c4fd5;
  }

  .resetBtn{
    background-color: #f8ab04;
    color: white;
    padding: 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }