
.messages {
    background-color: #ddddf7;
    padding: 10px;
    height: calc(100% - 160px);
    overflow-y: scroll;
 
}.messages::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
  }