.chats {
  flex: 2;
  height: 13vmax;
  border-bottom: solid;
  border-width: thin;
  border-color: gray;
  overflow-y: scroll;
}.chats::-webkit-scrollbar {
      width: 0px;               /* width of the entire scrollbar */
    }
.userChat {
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    cursor: pointer;


}

    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      object-fit: cover;
    }

      .info{
        font-size: 18px;
        font-weight: 500;
      }
      .lastmessage{
        width:95%;
        height:20px;
        font-size: 14px;
        color: lightgray;
        word-wrap: break-word;
        overflow: hidden;
        
      }
    .warnmessage{
        color: aliceblue;
        margin: 20px;
        font-size: larger;
    }

    .userChat:hover{
      background-color: #82458b
    }
    .userChatInfo{
      width: 75%;
    }
    .eyeImg{
      height:10px;
      width:10px;


    }

    .recent{
      background-color: red;
      width: 10px;
      height: 10px;
      border-radius: 5px;
    }