.passwordShow{
    height:20px;
    width:20px;
    margin-top: 20px;
    cursor: pointer;
}
.passwordClose{
    height:15px;
    width:20px;
    margin-top: 22px;
    cursor: pointer;

}
.passWordViewButton{
    border-bottom: 1px solid #0c4fd5;
}