.profilepic {

  height: 30px;
  width: 30px;
  border-radius: 5px;
  cursor: pointer;
}

.navbar {
  display: flex;
  align-items: center;


  padding: 10px;
  justify-content: space-between;
  color: #ddddf7;

}


.user {
  display: flex;
  gap: 10px;

  width: 100%;
}

.logout {
  background-color: #362443;
  color: #ddddf7;
  font-size: 12px;
  border: none;
  cursor: pointer;
  margin: 5px;
  border-radius: 5px;
  border: solid;
  border-color: #ddddf7;
  border-width: thin;
  height: 30px;


}
.closeBtn{
  background-color: #5a585b;
  color: #ddddf7;
  font-size: 12px;
  border: none;
  cursor: pointer;
  margin: 5px;
  border-radius: 5px;
  border: solid;
  border-color: #ddddf7;
  border-width: thin;
  height: 30px;


}

.profilename {
  margin-top: 5px;
  font-size: 60px;
  margin-left: 5px;
  color: black;



}

.pname {
  display: flex;
  flex-direction: column;
  width: 60%;
  text-align: center;
  margin-left: 20%;
}
.showPic{
  height:200px;
  width:200px;
  border-radius: 2px;
}
.profilemail{
  color: black;
}
.profileNavName{
  color:white
}