.chats {
  flex: 2;
  height: 18vmax;
  border: solid;
  border-width: thin;
  border-color: lightgray;
  overflow-y: scroll;
}.chats::-webkit-scrollbar {
      width: 5px;               /* width of the entire scrollbar */
    }
.userChat {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    cursor: pointer;

}

    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      object-fit: cover;
    }

      .info{
        font-size: 18px;
        font-weight: 500;
      }
      .lastmessage{
        font-size: 14px;
        color: lightgray;
      }
    .warnmessage{
        color: aliceblue;
        margin: 20px;
        font-size: larger;
    }