.findButton{
  margin-left:10px;
  background-color:rgb(19, 84, 154);
  color: white;
  border-radius: 5px;
  border-color: white;
  border-width: thin;
  padding-left: 10px;
  padding-right: 10px;
  

}