.findButton{
  margin-left:10px;
  background-color:rgb(19, 84, 154);
  color: white;
  border-radius: 5px;
  border-color: white;
  border-width: thin;
  padding-left: 10px;
  padding-right: 10px;
  

}
.usersDisplay{
  display: flex;
  flex-direction: column;
  height: 120px;
  overflow-y: scroll;
}
.SelectedList{
  display: flex;

  justify-content: space-between;
 padding:10px
}
.userData{
  display: flex;


}

.userData:hover{
 background-color: rgb(151, 147, 151);
 color: white;
 border-radius:10px;

}
.userImage{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.userName{

}
.deleteBtnnn{
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.deleteBtnnn:hover{
 border-radius: 0px;
 height:40px;
 width:40px;
 background-color: rgb(236, 173, 173);
}
.selectedUsers:hover{
  border-radius:10px;
 
}

.userChatInfo{
  display: flex;
  flex-direction: column;
}