 .messageowner {
   padding: 20px;
   display: flex;
   flex-direction: row-reverse; 
    /* border-bottom: solid; */
 }

 .messagefalse {
   padding: 20px;
   display: flex;

 }


 .message {
   display: flex;
   gap: 20px;
   margin-bottom: 20px;
 }

 .messageInfo {
   display: flex;
   /* flex-direction: column; */
   color: gray;
   font-weight: 400;
 }

 .senderimg {
   width: 20px;
   height: 20px;
   border-radius: 4px;
   object-fit: cover;
   margin-top: 5px;
 }

 .messageContent {
   max-width: 500px;
   display: flex;
   flex-direction: column;


 }

 .messgtextowner {
  color:black;
   background-color: rgb(220, 188, 227);
   padding: 10px;
margin-left: 10px;
   max-width: 500px;
   border-radius: 0px 10px 10px 10px;
   /* display:inline-block; */
   font-size: medium;
   word-wrap: break-word;

 }
 .messgtextfalse {
  color:white;
   background-color: #644b76;
   padding: 10px;
margin-left: 10px;
   max-width: 500px;
   border-radius: 0px 10px 10px 10px;
   /* display:inline-block; */
   font-size: medium;
   word-wrap: break-word;

 }


 .messgtext::-webkit-scrollbar {
   width: 5px;
   /* width of the entire scrollbar */
 }



 .chatimg {
   width: 100px;
   height: 120px;
   border-radius: 0px;
   margin: 20px;
 }

 .pdf {
   width: 100px;
   border-radius: 0px;
   height: 100px;
   margin: 20px
 }

 .fileName {
   font-size: 11px;
 }
 .senderName{
  color:black;
  margin-left: 10px;
  font-weight: 500;
  font-size: small;
 }
 .atTime{
  color:black;
  margin-left: 10px;
  font-weight: 500;
  font-size: small;
 }

 .seenStatus{

  height: 20px;
  width: 40px;
  border-radius: 10px;
  margin: 10px;
  object-fit: contain;
 }


 .userDetails{
  display: flex;
 }