.channels {
    flex: 2;
    height: 13vmax;
    border-bottom: solid;
    border-width: thin;
    border-color: gray;
    overflow-y: scroll;
}.channels::-webkit-scrollbar {
        width: 5px;               /* width of the entire scrollbar */
      }

  .channelInfo{
    font-size: large;
  }

.userChannalInfo{
  display: flex;
  justify-content: space-between;
  width:70%
}

    .img1{
      height: 24px;
      cursor: pointer;
    }
  
      .userName{
        margin-left: 10px;
        font-size: large;
      }


  
