.channels {
    flex: 2;
    height: 13vmax;
    border-bottom: solid;
    border-width: thin;
    border-color: gray;
    overflow-y: scroll;
}.channels::-webkit-scrollbar {
        width: 0px;               /* width of the entire scrollbar */
      }

  .channelInfo{
    font-size: large;
    margin-top:10px
  }

.userChannalInfo{
  display: flex;
  justify-content: space-between;
  width:90%;
  height:30px

}

    .img1{
      height: 24px;
      cursor: pointer;
    }
  
    

  
      .eyeImg{
        height:10px;
        width:10px;
        
  
      }
      .userChat {
        padding: 5px;
        display: flex;
        align-items: center;
        gap: 10px;
        color: white;
        cursor: pointer;
    
    
    }
    