
.Header{
    border-bottom: solid;
    border-width: thin;
    background-color:#581a59;
    width: 100%;
    text-align: center;
}
.Heading{
    color: aliceblue;
    font-size: xx-large;
  font-weight: 600;
  padding: 5px;

}